<?xml version="1.0" ?>

<launch>
    <arg name="robot_type" default="humanoid"/>
    <!-- visualization config -->
    <arg name="rviz"               default="true" />
    <arg name="description_name"   default="humanoid_description"/>
    <arg name="multiplot"          default="false"/>

    <!-- make the files into global parameters -->
    <!-- The task file for the mpc. -->
    <arg name="taskFile"          default="$(find humanoid_interface)/config/mpc/task.info"/>
    <!-- The reference related config file of the robot -->
    <arg name="referenceFile"     default="$(find humanoid_interface)/config/command/reference.info"/>
    <!-- The URDF model of the robot -->
    <arg name="urdfFile"          default="$(find humanoid_legged_description)/urdf/humanoid_legged_control.urdf"/>
    <arg name="urdfFileOrigin"    default="$(find humanoid_legged_description)/urdf/humanoid_legged_origin.urdf"/>
    <!-- The file defining gait definition -->
    <arg name="gaitCommandFile"   default="$(find humanoid_interface)/config/command/gait.info"/>

    <!-- rviz -->
    <!-- <group if="$(arg rviz)">
      <param name="$(arg description_name)" textfile="$(arg urdfFileOrigin)"/>
      <arg name="rvizconfig" default="$(find humanoid_dummy)/rviz/humanoid.rviz" />
      <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" output="screen" />
    </group> -->

    <!-- make the files into global parameters -->
    <param name="taskFile"          value="$(arg taskFile)" />
    <param name="referenceFile"     value="$(arg referenceFile)" />
    <param name="urdfFile"          value="$(arg urdfFile)" />
    <param name="urdfFileOrigin"          value="$(arg urdfFileOrigin)" />
    <param name="gaitCommandFile"   value="$(arg gaitCommandFile)"/>
    <param name="$(arg description_name)" textfile="$(arg urdfFileOrigin)"/>
    <!-- <param name="dev" type="string" value="/dev/input/js0"/>
    <param name="deadzone" type="double" value="0.1"/> -->

    <node pkg="humanoid_controllers" type="humanoid_target_trajectories_publisher" name="humanoid_target"
          output="screen"/>
    <node pkg="humanoid_controllers" type="joy_controller_node" name="joy_controller"
          output="screen"/>
    <node pkg="mujoco_sim" type="humanoid_sim.py" name="humanoid_sim"
          output="screen"/>
    <node pkg="mujoco_sim" type="joy.py" name="joy"
          output="screen"/>
    <node pkg="joy" type="joy_node" name="joy_node" output="screen"/>
      
</launch>
